#test4-content {
    height: 600px;
}

#knob-animation-wrapper {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 163px;
}

#knob-sprites {
    width: 10200px;
    height: 100%;
    background-image: url("./sprites_w200_50frames.png");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

