#header {

    width: 100%;

    /* visual */
    background-color: rgb(228, 220, 220);
}

#content {

    padding: 10px 20px;
    width: 100%;

    /* visual */
    background-color: rgb(228, 220, 220);
}

h2 {
    margin-bottom: 30px;
}

.row {
    margin-top: 10px;
}