body {
    padding-top: 50px;
}

#content {

    margin-top: 20px;
    padding: 20px;
    width: 100%;

    /* Visual */
    background-color: rgb(228, 220, 220);
    border: 1px solid #3F3F3F;
    border-radius: 3px;
}

h2 {
    margin-bottom: 30px;
}

.row {
    margin-top: 10px;
}